In [12]:
import pandas as pd
import numpy as np
import re
import string
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

In [13]:
df = pd.read_csv("../data/fintech_reviews.csv")
df.head()

,review,rating,date,bank,source
0,good,5,2025-06-03 11:32:52,CBE,Google Play
1,it is not safety,1,2025-06-03 09:14:31,CBE,Google Play
2,NICE bank,5,2025-06-03 08:42:36,CBE,Google Play
3,abdii.abas ab.musa,3,2025-06-02 14:46:11,CBE,Google Play
4,it is like a childish app make it better the w...,1,2025-06-02 12:23:42,CBE,Google Play

In [14]:
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1447 entries, 0 to 1446
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   review  1447 non-null   object
 1   rating  1447 non-null   int64
 2   date    1447 non-null   object
 3   bank    1447 non-null   object
 4   source  1447 non-null   object
dtypes: int64(1), object(4)
memory usage: 56.7+ KB

review    0
rating    0
date      0
bank      0
source    0
dtype: int64